.side-bar
  .header
    .username
      紅葉
      .icon-pen 
        = link_to "#" do
          .fas.fa-edit
      .icon-ger    
        = link_to "#" do
          .fa.fa-cog
  .main
    .group_name
      techcamp  
    .group_message
      まだメッセージはありません